{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"
    ></script>
    <script>
      var room = '{{ room }}'
    </script>
    <script src="{% static 'js/getMessages.js' %}"></script>
    <script src="{% static 'js/sendMessage.js' %}"></script>
  </head>
  <body>
    <a href="/"><h2>{{room}} - DjChat</h2></a>

    <div id="display"></div>

    <div class="container">
      <form id="post-form">
        {% csrf_token %}
        <input
          type="hidden"
          name="username"
          id="username"
          value="{{username}}"
        />
        <input
          type="hidden"
          name="room_id"
          id="room_id"
          value="{{room_details.id}}"
        />
        <input type="text" name="message" id="message" width="100px" />
        <input type="submit" value="Send" />
      </form>
    </div>
  </body>
</html>
